{% extends 'base.html' %}
{%block conteudo%}
<h1 class="mt-5">Meus clientes :)</h1>

<table class="table">
    <thead>
        <tr>
            <!--<th>ID</th>-->
            <th>Animal</th>
            <th>Raça</th>
            <th>Dono</th>
            <th>Telefone</th>
            <th>Plano</th>
        </tr>
    </thead>
    <tbody>

        {% for cliente in clientes %}
        <tr>
            <!--<td>{{ cliente.id }}</td>-->
            <td>
                <a href="{% url 'ver_cliente' cliente.id %}">{{ cliente.animal }}</a>
            </td>
            <td>{{ cliente.raca }}</td>
            <td>{{ cliente.dono }}</td>
            <td>{{ cliente.telefone }}</td>
            <td>{{ cliente.plano }}</td>
        </tr>
        {% endfor %}

    </tbody>
</table>

<nav aria-label="Page navigation example">
    <ul class="pagination">
        {% for pagina in clientes.paginator.page_range %}
            {% if clientes.number == pagina %}
                <li class="page-item active">
                    <a class="page-link" href="?p={{ pagina }}">{{pagina}}</a>
                </li>
            {% else %}
                <li class="page-item">
                    <a class="page-link" href="?p={{ pagina }}">{{pagina}}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</nav>
{%endblock%}